.border {
  border: 3px solid #C03000;
  border-radius: 50%;
}

.background {
  background-color: #787746;
}

div {
  width: 100px;
  height: 100px;
}

ul li {
  list-style: none;
  margin-left: -10px;
}
