<!--The whole content below can be removed with the new code.-->
<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>

<div [ngClass]="{border: true, background:true}"></div>
<hr>
<h2>Custom Directives</h2>
<div [appHighlight]="'#FD7400'" [defaultColor]="'#1F8A70'">Some Text</div>
<hr>
<h2>Structural Directives</h2>
<h3>*ngIf</h3>
<label *ngIf="switch">Conditional Text</label>
<ng-template [ngIf]="switch">
  <div>
    Conditional Text
  </div>
</ng-template>
<button (click)="onSwitch()">Switch</button>
<hr>
<h3>*ngFor</h3>
<ul *ngIf="switch">
  <li *ngFor="let name of names; let i = index">({{i + 1}}) - {{name}}</li>
</ul>
<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>100</p>
</div>

<p [ngSwitch]="value">
  <ng-template *ngSwitchCase="10">10</ng-template>
  <ng-template *ngSwitchCase="100">100</ng-template>
  <ng-template *ngSwitchDefault>100</ng-template>
</p>

<hr>
<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div style="display: inline">
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appMyHighlight]="color">Highlight me!</p>
<p [appMyHighlight]="color" defaultColor="violet">Highlight me too!</p>
<hr>
<p><i>Mouse over the following lines to see fixed highlights</i></p>
<p appMyHighlight highlightColor="yellow">Highlighted in yellow</p>
<p appMyHighlight [highlightColor]="'orange'">Highlighted in orange</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
